<div id="home" class="row">
        <br /><br /><br />

        <aside class="large-4 small-6 columns">
            <img src="images/logo.png" />
        </aside>
        <header class="large-8 small-6 columns">
            <div class='jumbotron'>
                <h1>
                    <span class='highlight'>Kyounghyun</span>Ryu
                </h1>
                <h2>
                    senior software engineer<sup>*</sup>
                </h2>
                <h3>
                    <p class='explanation'>
                        <sup>*</sup>As a
                        <span class='guru'>software engineer</span>
                        with
                        <em>more than</em>
                        <span class='ninja'>seven years</span>
                        of experience using
                        <span class='robot-zombie'>Java, C++, C#...</span>
                    </p>
                </h3>
            </div>
        </header>
    </div>
    <div id="contact" class="row">
        <div class="row">
            <h2>Contact Info</h2>
            <aside id="project1" class="large-6 small-6 columns">
                <h3>E-mail</h3>
                <p class=MsoNormal style='margin-right:-20.05pt;line-height:115%'>
                    <b>
                        <span lang=EN-US
                              style='font-size:11.0pt;line-height:115%;font-family:"Arial Black","sans-serif"'>
                            <a href="mailto:sean.k.ryu@gmail.com">sean.k.ryu@gmail.com</a>
                        </span>
                    </b>
                </p>
                <h3>Phone</h3>
                <p class=MsoNormal style='margin-right:-20.05pt;line-height:115%'>
                    <b>
                        <span lang=EN-US
                              style='font-size:11.0pt;line-height:115%;font-family:"Arial Black","sans-serif"'>
                            <a href="">647 274 ****</a>
                        </span>
                    </b>
                </p>
            </aside>
            <header class="large-6 small-6 columns">
                <div id="googleMap" style="width:500px;height:380px;"></div>
            </header>
        </div>
    </div>