<div class="container">
      <h2><%= firstHeadline %></h2>
      <p><%= title %></p>
</div>

<form>
    First Name:<br>
    <input type="text" name="firstname" require>
    <br>
    Last Name:<br>
    <input type="text" name="lastname" require>
    <br>
    <button type="submit" name="submitButton">Submit</button>
</form>