<div id="home" class="row">
        <br /><br /><br />

        <aside class="large-4 small-6 columns">
            <img src="images/logo.png" />
        </aside>
        <header class="large-8 small-6 columns">
            <div class='jumbotron'>
                <h1>
                    <span class='highlight'>Kyounghyun</span>Ryu
                </h1>
                <h2>
                    senior software engineer<sup>*</sup>
                </h2>
                <h3>
                    <p class='explanation'>
                        <sup>*</sup>As a
                        <span class='guru'>software engineer</span>
                        with
                        <em>more than</em>
                        <span class='ninja'>seven years</span>
                        of experience using
                        <span class='robot-zombie'>Java, C++, C#...</span>
                    </p>
                </h3>
            </div>
        </header>
    </div>
    <div id="content" class="row">
        <br /><br /><br />

        <article class="large-12 columns">
            <h2>About this site</h2>
            <p>
                Hi, I'm <span class="highlight">Kyounghyun Ryu</span> and I'm a
                <span class="highlight">
                    <strong>software engineer</strong>
                </span>
                based in Toronto, Ontario, Canada. I have 7 years of experience in
                developing software, mainly core Java and C++/C#.
            </p>
            <p>
                This is my mini-portfolio website where you can <a href="#project">browse</a>
                sample of my projects. You could also check what <a href="#skills">skills</a>
                I used to offer.
            </p>
        </article>
    </div>