    <div id="skills" class="row">
        <br /><br /><br />

        <article class="large-12 columns">
            <h2>Skills</h2>
            <h5>Core Java, Java Swing, C#, C++</h5>
            <div class="progress large-9 round">
                <span class="meter" style="width: 95%"></span>
            </div>
            <h5>Java Web : J2EE, Spring, Struts, Hibernate, Ajax, ASP, .Net, XML, HTML, CSS, JavaScript, PHP, jQuery, Foundation, Bootstrap, Mean.io</h5>
            <div class="progress large-9 alert round">
                <span class="meter" style="width: 85%"></span>
            </div>
            <h5>Database : Oracle, MS-SQL, Mysql, PL-SQL, UML</h5>
            <div class="progress large-9 success round">
                <span class="meter" style="width: 80%"></span>
            </div>
            <h5>IDE : Eclipse, Visual Studio, NetBean, Android Studio, LINUX and UNIX shell scripting</h5>
            <div class="progress large-9 round">
                <span class="meter" style="width: 95%"></span>
            </div>
        </article>
    </div>