<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- CSS Section -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/app.css">

    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/foundation.css" rel="stylesheet" />
  </head>
  <body>
    <% include partials/header.ejs %>
    
    <%    if(title == "About Me")  {%>
    <%    include partials/about.ejs %>
    <%    }  %>     
    
    <%    if(title == "Contact Me")  {%>
    <%    include partials/contact.ejs %>
    <%    }  %>   
    
    <%    if(title == "Products")  {%>
    <%    include partials/products.ejs %>
    <%    }  %>   

    <%    if(title == "Skills")  {%>
    <%    include partials/skills.ejs %>
    <%    }  %> 
    
    <%    if(title == "Services")  {%>
    <%    include partials/services.ejs %>
    <%    }  %>      
    
    <%    if(title == "Portfolio Home")  {%>
    <%    include partials/home.ejs %>
    <%    }  %>     
    
    <% include partials/footer.ejs %>
    
    <!-- JavaScript Section -->
    <script src="/Scripts/lib/jquery.js"></script>
    <script src="/Scripts/lib/bootstrap.min.js"></script>
    <script src="/Scripts/lib/angular.min.js"></script>
    <script src="Scripts/lib/foundation.min.js"></script>
    <script>$(document).foundation();</script>
    <script src="Scripts/lib/app.js"></script>
  </body>
</html>